<h1>Ask the Coach!</h1>

<% if @message.include?("?") %>
  <h2>"Silly question, get dressed and go to work!"</h2>
<% elsif @message == "I am going to work." %>
  <h2>"Awesome!"</h2>
<% else %>
  <h2>"I don't care, get dressed and go to work."</h2>
<% end %>


<%= link_to 'Ask the coach something else', "/ask" %>
